{% extends "base.html" %}
{% block title %}My courses{% endblock %}
{% block extrahead %}

<style>

a{
    font-size: 14px !important;
}



</style>




{% endblock extrahead %}

{% block content %}

        <!-- Sidebar -->

        <!-- Content -->
                 <div class="row">
                 {% for course in object_list %}
                     <div class="col-sm-3">
                        <div class="wrapper">
                            <div class="logo">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/640px-Python-logo-notext.svg.png" alt="">
                            </div>
                            <div class="text-center mt-4">
                                <p class="lead">{{ course.title }}</p>
                            </div>


                         <a href="{% url "course_edit" course.id %}" class="name2">Edit</a>
                         <a href="{% url "course_delete" course.id %}" class="name2">Delete</a>
                         <a href="{% url "course_module_update" course.id %}" class="name2">Edit modules</a>
                        {% if course.modules.count > 0 %}
                            <a href="{% url "module_content_list" course.modules.first.id %}" class="name2">
                                Manage contents</a>
                        {% endif %}
                        <br>
                         <a href="{% url "course_create" %}" class="name2">Create New Course</a>
                        </div>

                    </div>
                 {% empty %}
                  <div class="col-md-3">
                   <p>You haven't created any courses yet.</p>
                     <a href="{% url "course_create" %}" class="btn-primary btn name2">Create New Course</a>

                  </div>



                {% endfor %}
                 </div>









{% endblock %}