{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ object.title }}
{% endblock %}
{% block extrahead %}
   <style>
    .enroll button{
        background-color: #550077 !important;
        color: white;
    }
    .enroll button:hover{
        background-color: #550077 !important;
        color: white;
    }


   </style>


{% endblock extrahead %}



{% block content %}
    <div class="p-1 my-container active-cont">

        {% with category=object.category %}
            <div class="jumbotron">
                <h2 class="display-4"> {{ object.title }}</h2>
                <h3> Course Description </h3>
                <p class="lead dark">
                    {{ object.overview|linebreaks }}
                </p>


            </div>

        {% endwith %}
        <div class="container-fluid mt-3">

            <div class="row">
                <div class="col-md-8 enroll">

                        {% if request.user.is_authenticated and  not is_enrolled %}
                            <form action="{% url "student_enroll_course" %}" method="post">
                                {{ enroll_form }}
                                {% csrf_token %}
                                <button class="btn" type="submit" value="Enroll now"> Enroll now</button>
                            </form>
                            {#                            {% elif request.user.is_premium %}#}
                            {#                                <p> you already have premium membership, you can access the content.</p>#}
                        {% elif is_enrolled %}
                             <button class="btn"> Already Enrolled </button>
                        {% else %}
                            <a href="{% url "student-registration" %}" class="btn">
                                Register to enroll
                            </a>
                        {% endif %}
                        {#                    <button class="btn mt-4"> Enroll now </button>#}


                    </div>

                {% if request.user.is_premium %}
                    <div class="col-md-4 list">
                        <div class="list-group">
                            <a href="#" class="list-group-item" style="background: #550077; color: #fff"
                               aria-current="true">
                                Course Module </a>
                            {% for m in course.modules.all %}

                                <a href="{% url 'module_detail' m.id %}"
                                   class="list-group-item list-group-item-action">{{ m.title }} > </a>
                            {% endfor %}


                        </div>
                    </div>
                {% else %}

                    <div class="col-md-4 list">
                        <div class="list-group">
                            <a href="#" class="list-group-item" style="background: #550077; color: #fff"
                               aria-current="true">
                                Course Module </a>
                            {% for m in course.modules.all %}

                                <li href="{% url 'module_detail' m.id %}"
                                    class="list-group-item list-group-item-action">{{ m.title }} >
                                </li>
                            {% endfor %}


                        </div>
                    </div>
                {% endif %}


            </div>
        </div>




{% endblock %}