{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block extrahead %}
<style>


    .wrapper {
        max-width: 400px;
        min-height: 500px;
        margin: 40px auto;
        padding: 40px 30px 30px 30px;
        background-color: #ecf0f3;
        border-radius: 15px;
        box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
    }





    .wrapper .name {
        font-weight: 600;
        font-size: 1.4rem;
        letter-spacing: 1.3px;
        padding-left: 10px;
        color: #555;
    }

    input[type='text'] {
        width: 100%;
        display: block;
        border: none;
        outline: none;
        background: none;
        font-size: 1.2rem;
        color: #666;
        padding: 10px 15px 10px 10px;
        margin-bottom: 20px;
        border-radius: 20px;
        box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;

    }
        input[type='email'] {
        width: 100%;
        display: block;
        border: none;
        outline: none;
        background: none;
        font-size: 1.2rem;
        color: #666;
        padding: 10px 15px 10px 10px;
        /* border: 1px solid red; */
        margin-bottom: 20px;
        border-radius: 20px;
        box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
    }
     input[type='password'] {
        width: 100%;
        display: block;
        border: none;
        outline: none;
        background: none;
        font-size: 1.2rem;
        color: #666;
        {#padding: 10px 15px 10px 10px;#}
        /* border: 1px solid red; */
        padding: 10px 15px 10px 10px;
        margin-bottom: 20px;
        border-radius: 20px;
        box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
    }




    .wrapper .form-field .fas {
        color: #555;
    }

    .wrapper .btn {

        width: 100%;
        height: 40px;
        background-color: #550077;
        color: #fff;
        border-radius: 25px;
        box-shadow: 3px 3px 3px #b1b1b1;

        letter-spacing: 1.3px;
    }
    .btn{
        box-shadow: none;
        width: 70%;
        height: 40px;
        background-color: #550077;
        color: #fff;
        border-radius: 25px;
        box-shadow: 3px 3px 3px #b1b1b1;
        letter-spacing: 1.3px;
    }
    .btn:hover {
        background-color: #9d36c5;
        color: #fff;
    }
    .wrapper .btn:hover {
        background-color: #9d36c5;
    }

    .wrapper a {
        text-decoration: none;
        font-size: 0.8rem;
        color: #550077;
    }

    .wrapper a:hover {
        color: #9d36c5;
    }
    .center{
        padding-left: 10%;
        padding-top: 10%;
    }
    .center button{
        background-color: #550077;

        width: 70%;
        height: 40px;

        color: #fff;
        border-radius: 25px;
        box-shadow: 3px 3px 3px #b1b1b1;
        letter-spacing: 1.3px;
    }

</style>




{% endblock extrahead %}

{% block title %}

    <title>Student Registration </title>
{% endblock title %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-md-6 center">
               <h1>Build Data Skills Online </h1>
               <h3 class="mt-5">Data Drives Everything. Get the skills</h3>
               <h3>for future for work.</h3>
               <button class="btn mt-5">Start Learning for free</button>
               <button class="btn mt-3 buy">Buy Subscriptions for more!</button>
            </div>
            <div class="col-md-6">
                <div class="wrapper">
                    <div class="text-center mt-4 name">
                        Create Your Free Student Account
                    </div>
                    <form class="p-3 mt-3" method="POST" action="{% url 'student-registration' %}">
                         {{form|crispy}}
                         {{work_form|crispy}}
                        {% csrf_token %}

{#                        <div class="form-field d-flex align-items-center">#}
{#                            <span class="fa fa-user"></span>#}
{#                            <input type="text" name="userName" id="userName" placeholder="Firstname">#}
{#                             {% crispy_field form.first_name 'class' 'custom-control-input' 'placeholder' 'First Name' %}#}
{#                        </div>#}
{#                        <div class="form-field d-flex align-items-center">#}
{#                            <span class="fa fa-user"></span>#}
{#                            <input type="text" name="userName" id="userName" placeholder="Lastname">#}
{#                             {% crispy_field form.last_name 'class' 'custom-control-input' 'placeholder' 'Last Name' %}#}
{#                        </div>#}
{#                        <div class="form-field d-flex align-items-center">#}
{#                            <span class="far fa-user"></span>#}
{#                            <input type="email" name="userName" id="userName" placeholder="Enter your email">#}
{#                             {% crispy_field form.email 'class' 'custom-control-input' 'placeholder' 'Email' %}#}
{#                        </div>#}
{#                        <div class="form-field d-flex align-items-center">#}
{#                            <span class="fas fa-key"></span>#}
{#                             {% crispy_field form.password 'class' 'custom-control-input' 'placeholder' 'Password'%}#}
{#                            <input type="password" name="password" id="pwd" placeholder="Password">#}
{#                        </div>#}
{##}
{#                        <div class="form-field d-flex align-items-center">#}
{#                            <span class="fas fa-key"></span>#}
{#                             {% crispy_field work_form.city 'class' 'custom-control-input' 'placeholder' 'City' %}#}
{##}
{#                        </div>#}
{##}
{#                      <div class="form-field d-flex align-items-center">#}
{#                            <span class="fas fa-key"></span>#}
{#                             {% crispy_field work_form.qualification 'class' 'custom-control-input' 'placeholder' 'Qualification' %}#}
{##}
{#                        </div>#}

                        <button type="submit" class="btn mt-3">Signup</button>
                    </form>
                    <div class="text-center fs-6">
                        <a href="{% url 'account_reset_password' %}">Forget password?</a> or <a href="{% url 'account_login' %}">Log in</a>
                    </div>
                </div>
            </div>

        </div>
    </div>



{% endblock content %}