{% extends "base.html" %}
{% block title %}My courses{% endblock %}
{% block content %}
    <div class="p-1 my-container active-cont">
        <div class="container-fluid">
        <div class="row">
          {% for course in object_list %}

            <div class="col-md-4">
                <div class="wrapper">

                    <div class="course-info">
                        <h3>{{ course.title }}</h3>
                         <p> Instructor: {{ course.owner.first_name }} </p>
                           <h2>Modules</h2>
                           {% for m in course.modules.all %}
                               {% for content in m.contents.all %}
                               <ul>
                                 <a href="{% url "module_detail" m.id content.id %}">

                                <li> {{ m }} -> {{ content.title}} </li></a>
                               </ul>
                              {% endfor %}

                            {% endfor %}


                     {% with item=course.students.user_course_progress.all.last %}
                       <div class="progress">


                                   <div class="progress-bar bg-success" role="progressbar" style="width: {{ item.percentage_value }}%" aria-valuenow="{{ item.percentage_value }}" aria-valuemin="0" aria-valuemax="{{ item.percentage_value }}"> {{item.percentage_value}} </div>

                            </div>
              {% endwith %}


                        <p><a href="{% url "course_detail" course.slug %}">
                            Access contents </a></p>

                    </div>
                </div>
            </div>


            {% empty %}
                <p>
                    You are not enrolled in any courses yet.
                    <a href="{% url "courses" %}">Browse courses</a>
                    to enroll in a course.
                </p>



             {% endfor %}
        </div>


        </div>
    </div>



{% endblock %}