{% extends "module_base.html" %}
{% load course %}
{% block title %}
  Module {{ module.order|add:1 }}: {{ module.title }}
{% endblock %}


{% block extrahead %}



    <style>
        body {
        overflow-x: hidden;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        background: #ecf0f3;
    }

    /* Toggle Styles */



.logo img {
    width: 100%;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 3px #5f5f5f,
        0px 0px 0px 5px #ecf0f3,
        8px 8px 15px #a7aaa7,
        -8px -8px 15px #fff;
}

.wrapper .name {
    font-weight: 800;
    font-size: 2rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555;
    padding-bottom: 20px;
}

.wrapper .name2 {
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: rgb(160, 160, 160);
    padding-bottom: 20px;
}

.wrapper .btn {
    width: 100%;
    height: 40px;
    background-color: #550077;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1;
    letter-spacing: 1.3px;
}

.wrapper .btn:hover {
    background-color: #9d36c5;
}


li {
    list-style: none;
}


a {
    color: white;
    text-decoration: none;
}

</style>




{% endblock %}


{% block content %}

        <!-- Sidebar -->
        <div class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column" id="sidebar">
        <ul class="nav flex-column text-white w-100">
           {% with course=module.course %}
            <h6 class="nav-link h6 text-white my-2">{{ course.title }}</h6>
                <a href="{% url 'manage_course_list' %}" class="nav-link">
            <i class="bx bxs-dashboard"></i>
            <span class="mx-2">Your Courses</span>

          </a>
               <hr>


                      {% for m in course.modules.all %}
                        <li data-id="{{ m.id }}" {% if m == module %}
                         class="selected"{% endif %}>
                          <a href="{% url "module_content_list" m.id %}">
                             <i class="bx"></i>  {{ m.title }}

                          </a>
                          <hr>



{#                        #}
{#                          <a href="{% url "module_content_list" m.id %}">#}
{#                            <span>#}
{#                              Module <span class="order">{{ m.order|add:1 }}</span>#}
{#                            </span>#}
{#                            <br>#}
{#                          #}
{#                          </a>#}
                        </li>
                      {% empty %}
                        <li>No modules yet.</li>
                      {% endfor %}



                    <h6>Module {{ module.order|add:1 }}: {{ module.title }}</h6>
                    <hr>
{#                    <h3>Module contents:</h3>#}
                      {% for content in module.contents.all %}
                            <div data-id="{{ content.id }}">


                            </div>

                          <a href="#">
                             > <i class="bx"></i> {{ content.title }}
                          </a>
                          <hr>



                      {% empty %}
                        <p>This module has no contents yet.</p>
                      {% endfor %}
                    {% endwith %}



            </ul>

        </div>
        <!-- Content -->
        <div class="p-1 my-container active-cont">

         <div class="container-fluid">


                <div class="row mt-4">

                    {% for content in module.contents.all %}
                    <div class="col-md-4 ">
                         <div class="wrapper">
                            <div class="logo">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/640px-Python-logo-notext.svg.png" alt="">
                            </div>
                            <div class="text-center mt-4 name">
                                    <span> {{ content.title }}<br>
                                    <a href="{% url "module_content_update" module.id content.id%}" class="btn">
                                            Edit
                                    </a></span>
                                    <form action="{% url "module_content_delete" content.id %}"
                             method="post">
                                <button type="submit" class="btn" value="Delete"> Delete</button>
                              {% csrf_token %}
                            </form>
                             {% with course=module.course %}
                    <a href="{% url "course_module_update" course.id %}" class="btn">
                        Edit modules {{ module }}</a>
                 {% endwith %}



                            </div>



                        </div>
                    </div>
                     {% empty %}
                        <p>This module has no contents yet</p>
                        <li><a href="{% url "module_content_create" module.id %}" class="btn">Create Content</a></li>
{#                      Video</a></li>#}

                      {% endfor %}
                </div>

{#                {% with course=module.course %}#}
{##}
{#                  <h1>{{ course.title }}</h1>#}
{#                  <div class="contents">#}
{##}
{#                    <a href="{% url "course_module_update" course.id %}" class="btn">#}
{#                    Edit modules</a>#}
{#                  </div>#}
{#                  <div class="module">#}
{#                    <h2>Module {{ module.order|add:1 }}: {{ module.title }}</h2>#}
{#                    <h3>Module contents:</h3>#}
{#                    <div id="module-contents">#}
{#                      {% for content in module.contents.all %}#}
{#                        <div data-id="{{ content.id }}">#}
{#                          {% with item=content.item %}#}
{##}
{#                            <h2>{{ content.title }}</h2>#}
{#                            <a href="{% url "module_content_update" module.id content.id%}" class="btn">#}
{#                                Edit#}
{#                            </a>#}
{#                            <form action="{% url "module_content_delete" content.id %}"#}
{#                             method="post">#}
{#                                <button type="submit" class="btn" value="Delete"> Delete</button>#}
{#                              {% csrf_token %}#}
{#                            </form>#}
{#                          {% endwith %}#}
{#                        </div>#}
{#                      {% empty %}#}
{#                        <p>This module has no contents yet.</p>#}
{#                      {% endfor %}#}
{#                    </div>#}
{#                    <h3>Add new content:</h3>#}
{#                    <ul class="content-types block">#}
{##}
{#                      <li><a href="{% url "module_content_create" module.id %}" class="btn">#}
{#                      Video</a></li>#}
{#                      <li><a href="{% url "module_content_create" module.id "file" %}">#}
{#                      File</a></li>#}
{#                    </ul>#}
{#                  </div>#}
{#                {% endwith %}#}


            </div>

        </div>


{% endblock content %}